$color-primary: #7eb2cc;
$color-secondary: #cfd49b;
$color-tertiary: #729e2f;
$color-light-primary: lighten($color-primary, 25%);
$color-light-secondary: lighten($color-secondary, 25%);

$color-font: #1c296d;

.color--primary {
  color: $color-primary;
}
.color--secondary {
  color: $color-secondary;
}
.color--tertiary {
  color: $color-tertiary;
}
.color--danger {
  color: red;
}
